<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Find every picture NASA has shooted</h2>
      <div class="search">
        <form v-on:submit.prevent = "getResult(query)">
          <input type="text" placeholder="type Sun, Earth etc." v-model="query" />
          
        </form>
       
      </div>
      
      <div class="center">
        <div v-for="image in images" v-bind:key="image.id" >
         <p>  {{image.data["0"].description}} </p>
            <img v-bind:src="image.links[0].href">
            <button class="X" v-on:click="destroy(image)">X</button>
        </div>
      </div>
  </div>
  
</template>

<script>
import axios from 'axios';
export default {
  name: 'Search',
  data () {
    return {
      msg: 'Search',
      query: '',
      images: '',
    }
  },
    methods:   {
      getResult(query){
      axios.get("https://images-api.nasa.gov/search?q="+ query +"&media_type=image").then( response => {
        console.log(response.data.collection.items); // checking that we have something.
        this.images = response.data.collection.items;
      });
      },
      destroy(image){ 
          this.images.splice(this.images.indexOf(image), 1)
      }
       
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.X{
  position: relative;
  top: -30px;
  left: -15px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #42abb9;
}
.center img{
width: 60%;
margin: 15px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
