<template>
  <div id="app">
    <img src="./assets/logo.png">
     <Search/>
  </div>
</template>

<script>
import Search from './components/Search'

export default {
  name: 'App',
  components: {
    Search
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}


body {
    opacity: 40%;
  background-color: aqua; 
  height: 100%;
  -webkit-animation: background 20s cubic-bezier(1,0,0,1) infinite;
  animation: background 20s cubic-bezier(1,0,0,1) infinite;  
}


@-webkit-keyframes background {
  0% { background-color: #9f9; }
  33% { background-color: rgb(2, 0, 0); }  
  67% { background-color: rgb(67, 67, 233); }
  100% { background-color: #9f9; }
}

@keyframes background {
  0% { background-color: rgb(2, 0, 0);  }
  33% { background-color: #9f9; }  
  67% { background-color: rgb(45, 148, 62); }
  100% { background-color: rgb(2, 0, 0); }
}

</style>
